{% extends 'work_01_app/base.html' %}

{% block title %}
Заказы пользователя {{ client_name }}
{% endblock %}

{% block content %}
<h1><small class="text-muted">Заказы пользователя</small> {{ client_name }}</h1>

{% if orders %}
<div class="accordion accordion-flush" id="accordionOrders">
    {% for ord in orders %}
        {% ifchanged ord.order.id %}
            {% if not forloop.first %}
                                </table>
                    </div>
                </div>
            </div>
            {% endif %}

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading{{ ord.order.id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse{{ ord.order.id }}" aria-expanded="false" aria-controls="flush-collapse{{ ord.order.id }}">
                    Заказ {{ ord.order.id }} от {{ ord.order.order_date }} на сумму&nbsp;<strong>{{ ord.order.cost }}</strong>
                </button>
            </h2>
            <div id="flush-collapse{{ ord.order.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ ord.order.id }}"
                 data-bs-parent="#accordionOrders">
                <div class="accordion-body">
                        <table class="table table-sm table-responsive table-hover table-bordered table-warning">
                            <thead>
                                <th>Товар</th>
                                <th>Количество</th>
                                <th>Цена</th>
                                <th>Итого</th>
                            </thead>
                        <tr>
                            <td>{{ ord.product.prod_name }}</td>
                            <td>{{ ord.product_count }}</td>
                            <td>{{ ord.product.price }}</td>
                            <td>{{ ord.prod_cost }}</td>
                        </tr>
        {% else %}
                        <tr>
                            <td>{{ ord.product.prod_name }}</td>
                            <td>{{ ord.product_count }}</td>
                            <td>{{ ord.product.price }}</td>
                            <td>{{ ord.prod_cost }}</td>
                        </tr>
        {% endifchanged %}
    {% endfor %}
                    </table>
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="alert-warning">Данные отсутствуют!</div>
{% endif %}

{% endblock %}